*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    margin: 40px auto 0;
    height: 600px;
    width: 300px;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 4px;
}

.container img{
    margin-top: 50px;
    width: 100px;
}

.container h2{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
}

/* icon-group */
.icon-container{
    margin-bottom: 20px;
}

.icon-container a{
    margin-right: 2px;
}

.icon-container a.icon-facebook{
    color: darkblue;
    border: 1.3px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    padding: 7px 12px 7px 12px;
}

.icon-container a.icon-google{
    color: red;
    border: 1.3px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    padding: 7px 9.5px 7px 9.5px;
}

.icon-container a.icon-yandex{
    color: darkblue;
    border: 1.3px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    padding: 6.5px 11.2px 6.5px 11.2px;
}

.text{
    font-family: 'Manjari', sans-serif;
}

/* form group */
.register-form{
    margin-top: 15px;
}

.register-form input{
    margin-bottom: 12.5px;
    border-style: none;
    border-radius: 20px;
    padding: 7px 13px;
    width: 80%;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"]{
    background-color: rgba(0, 0, 0, 0.06);
}

.register-form input[type="submit"]{
    width: inherit;
    cursor: pointer;
    outline: none;
    background-color: purple;
    color: white;
    width: 80%;
}

.already-have a{
    color: darkblue;
    font-weight: 700;
    text-decoration: none;
}