:root{
    --corona-red: #FB4C47;
    --weird-color: rgba(250, 86, 82, 0.15);
    --text-color: #4B4F51;
    --background-color: #FFF;
    --header-grey: rgb(94, 91, 89);
    --overview-image-width: 900px;
    --overview-margin-left: 195px;
    --definition-image-width: 850px;
    --definition-content-margin-left: 150px;
    --definition-content-margin-right: 200px;
    --definition-content-margin-top: 150px;
    --precaution-content-margin-left: 200px;
    --precaution-content-margin-right: 232px;
    --precaution-reverse-content-margin-left: 232px;
    --precaution-reverse-content-margin-right: 200px;
    --precaution-image-margin: 120px;
    --content-margin-top: 150px;
    --footer-green: #0C6C44;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}

body{
    background-color: var(--background-color);
}

.text{
    &--red{
        color: var(--corona-red);
    }

    &--header-small{
        font-size: 25px;
        font-weight: bold;
    }

    &--header-large{
        color: var(--header-grey);
        font-size: 40px;
        margin-top: 10px;
    }

    &--content{
        line-height: 35px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    &--capitalize{
        text-transform: capitalize;
    }

    &--uppercase{
        text-transform: uppercase;
    }

    &--number{
        margin-left: -98px;
        margin-right: 20px;
        padding: 5px 10px 5px 10px;
        background: var(--weird-color);
        color: var(--corona-red);
        border-radius: 46px;
    }
}

.button{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 46px;
    cursor: pointer;
    padding: 16px 46px 16px 46px;
    transition: background-color 0.5s, color 0.5s;

    &--red{
        background-color: var(--corona-red);
        color: white;
    }

    &--red:hover{
        background-color: var(--weird-color);
        color: var(--corona-red);
    }

    &--weird{
        background-color: var(--weird-color);
        color: var(--corona-red);
    }

    &--weird:hover{
        background-color: var(--corona-red);
        color: white;
    }

    &--reverse{
        border: 2px solid var(--corona-red);
    }

    &--reverse:hover{
        background-color: var(--corona-red);
        color: white;
    }
}

.nav{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

    &__logo{
        width: 150px;
    }

    &__list{
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
    }

    &__list-item{
        cursor: pointer;
    }

    &__list-item:not(:last-child){
        margin-right: 40px;
    }

    &__icons a{
        text-decoration: none;
    }

    &__icons a:not(:last-child){
        margin-right: 20px;
    }

    &__icons a:nth-child(2) i{
        color: var(--corona-red);
    }
}

.section{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.overview{
    &__content{
        margin-top: var(--content-margin-top);
        margin-left: var(--overview-margin-left);
    }

    &__image{
        width: var(--overview-image-width);
    }
}

.definition{
    &__content{
        margin-top: var(--definition-content-margin-top);
        margin-left: var(--definition-content-margin-left);
        margin-right: var(--definition-content-margin-right);
    }

    &__image{
        width: 800px;
    }
}

.contagion{
    text-align: center;

    &__cards{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__card{
        width: 460px;
        height: 575px;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
    }

    &__card:not(:last-child){
        margin-right: 20px;
    }
}

.symptomps{
    margin-top: 200px;
    text-align: center;
}

.precautions{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 90px;
}

.precaution{
    &__content{
        margin-top: var(--content-margin-top);
        margin-left: var(--precaution-content-margin-left);
        margin-right: var(--precaution-content-margin-right);
    }
    &__image{
        margin-right: var(--precaution-image-margin);
    }

    &__content--reverse{
        margin-top: var(--content-margin-top);
        margin-right: var(--precaution-reverse-content-margin-left);
        margin-left: var(--precaution-reverse-content-margin-right);
    }
    &__image--reverse{
        margin-left: var(--precaution-image-margin);
    }
}

.live{
    justify-content: center;
    margin-bottom: 150px;
}

.footer{
    text-align: center;

    &__form{
        margin-bottom: 200px;
    }

    &__form h1{
        line-height: 0.8;
        color: var(--header-grey);
    }

    &__form h1:last-of-type{
        margin-bottom: 50px;
    }

    &__input{
        border-radius: 46px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        padding: 20px 150px 20px 20px;
        text-align: left;
        transition: box-shadow 0.5s;
    }

    &__input:hover{
        box-shadow: 0 1px 4px 2px var(--corona-red);
    }

    &__copyright{
        font-weight: light;
        font-size: 13px;
        margin-bottom: 20px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 1475px) {
    :root{
        --content-margin-top: 100px;
        --overview-image-width: 600px;
        --overview-margin-left: 140px;
        --definition-content-margin-left: 20px;
        --precaution-content-margin-right: 100px;
        --precaution-reverse-content-margin-left: 100px;
    }
}

@media screen and (min-width: 1775px) {
    :root{
        --content-margin-top: 225px;
        --overview-image-width: 100%;
        --overview-margin-left: 280px;
    }
}